{namespace m=TYPO3\Media\ViewHelpers}{namespace neos=TYPO3\Neos\ViewHelpers}{namespace ts=TYPO3\TypoScript\ViewHelpers}
		<meta name="twitter:card" content="{twitterCard}"/>
		<meta name="twitter:title" content="{twitterTitle}"/>
		<f:if condition="{twitterImage}">
			<meta name="twitter:image" content="{m:uri.image(image:twitterImage,maximumWidth:imageWidth,maximumHeight:imageHeight,allowCropping:allowCropping)}"/>
			<meta name="twitter:image:width" content="{imageWidth}"/>
			<meta name="twitter:image:height" content="{imageHeight}"/>
		</f:if>
		<f:if condition="{twitterSite}"><meta name="twitter:site" content="{twitterSite}"/></f:if>
		<f:if condition="{twitterCreator}"><meta name="twitter:creator" content="{twitterCreator}"/></f:if>
