{namespace m=TYPO3\Media\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:if condition="{genericAuthor}"><meta name="author" content="{genericAuthor}"/></f:if>
<f:if condition="{genericDescription}"><meta name="description" content="{genericDescription}"/></f:if>
<f:if condition="{opengraphTitle}"><meta property="og:title" content="{opengraphTitle}"/></f:if>
<f:if condition="{opengraphType}"><meta property="og:type" content="{opengraphType}"/></f:if>
<f:if condition="{opengraphImage}"><meta property="og:image" content="{m:uri.image(image:opengraphImage,maximumWidth:imageWidth,maximumHeight:imageHeight,allowCropping:1)}"/></f:if>
<meta property="og:url" content="{neos:uri.node(node:node,absolute:1)}{opengraphUrlSuffix}"/>
<f:if condition="{opengraphDescription}"><meta property="og:descrition" content="{opengraphDescription}"/></f:if>
<f:if condition="{facebookAdmins}"><meta property="fb:admins" content="{facebookAdmins}"/></f:if>
<f:if condition="{twitter}">
	<meta name="twitter:card" content="{twitterCard}"/>
	<f:if condition="{twitterTitle}"><meta name="twitter:title" content="{twitterTitle}"/></f:if>
	<meta name="twitter:url" content="{neos:uri.node(node:node,absolute:1)}{twitterUrlSuffix}"/>
	<f:if condition="{twitterDescription}"><meta name="twitter:description" content="{twitterDescription}"/></f:if>
	<f:if condition="{twitterImage}"><meta name="twitter:image" content="{m:uri.image(image:twitterImage,maximumWidth:imageWidth,maximumHeight:imageHeight,allowCropping:1)}"/></f:if>
	<f:if condition="{twitterSite}"><meta name="twitter:site" content="{twitterSite}"/></f:if>
	<f:if condition="{twitterCreator}"><meta name="twitter:creator" content="{twitterCreator}"/></f:if>
</f:if>