<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
	<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/AccessibilityPreview.css', package: 'Ttree.Plugin.Seo')}"/>
	<script src="{f:uri.resource(path: 'JavaScript/Preview/Accessibility/axs_testing.js', package: 'Ttree.Plugin.Seo')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/tether.js', package: 'Ttree.Plugin.Seo')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/Preview/Accessibility/Module.js', package: 'Ttree.Plugin.Seo')}"></script>
</f:security.ifAccess>
