<div id="ttree-plugin-seo-accessibility-panel">
	<div class="ttree-plugin-seo-module-header">
		Accessibility Report
	</div>
	<div class="ttree-plugin-seo-module-resume">
		<span class="resume resume-na"><span class="resume-value">#</span>/<span class="resume-total">#</span> NA</span>
		<span class="resume resume-pass"><span class="resume-value">#</span>/<span class="resume-total">#</span> PASS</span>
		<span class="resume resume-fail"><span class="resume-value">#</span>/<span class="resume-total">#</span> FAIL</span>
	</div>
</div>